.footer {
    position: relative;
    height: 630px;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background: #C70101;
    }
    p { 
        color: #FFFFFF;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        margin-top: 50px;
    }
    &__tel {
        display: block;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        margin: 0 auto;
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 26px;
    }
    &__img {
        margin: 0 11px 0 11px;
    }
}